body{
	margin:0;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
font-size:16px;
color:#779; 
line-height: 30px;
background-image:url("../images/wild_flowers.png");

}

h1,
h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-weight: 600;
}

h2{
  font-family: 'Georgia', Times, Times New Roman, serif;
}

#logo {
  width: 700px;
  height: 70px;

  float: left;
  font-family: 'Georgia', Times, Times New Roman, serif;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  text-decoration: none;
  
}


.container {
 
  margin: 0 auto;


}
.jumbotron{
	
	background-image:url("../images/bg2.jpg");
	background-size:cover;
	margin-top:-20px;
	height:430px;
	text-align :center;
	padding-top:100px;
	color:#fff;

}
.for-about{
	background-color:grey;
}
.about{
	text-align:left;

  margin-top:0px;
}
.auth-image {
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
  float: left;
}


.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}
.social:hover{
	
	cursor: pointer;
  	opacity: .8;
}




.work img {
  width: 100%;
  border: 0 none;
  opacity: .8;
}

.work h3 {
  position: absolute;
  bottom: 10px;
  margin-bottom: 10px;
  padding: 15px;
  width: 90%;
  color: #fff;
  text-align: center;
  line-height: 15px;
  font-weight: 200;
  background: #4aaaa5;
  border-bottom: 0;
}

.footer {
  margin-top: 5px;
  padding: 30px 0;
  clear: both;
  color: #fff;
  color: #ccc;
  font-size: 12px;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
  height: 50px;
}

html,body{
  height:100%;
}

.wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin :0 auto -105px;
}

footer. .push {
  height:105px;
}